a#logo-container.brand-logo {
  margin-left: 20px;
}

/*------- index banner --------*/
a.button-collapse {
  font-size: 24px;
}

.section.no-pad-bot{
  background-image: url('/Users/malilaclearwater/workspace/galvanize-delivers/img/hero.jpg');
}

/*-------- icon section ----------*/

/*-------- footer --------*/
